In [1]:
import pandas as pd

books = pd.read_csv('Books.csv', low_memory=False)
ratings = pd.read_csv('Ratings.csv', low_memory=False)
users = pd.read_csv('Users.csv', low_memory=False)

print(ratings.head())
print(books.head())
print(users.head())

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [2]:
print(books.info())

books.describe()
#ISBNs shown to be unique -> freq 1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
None

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271358,271360,271358,271360,271360,271357
unique,271360,242135,102022,118,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,17627,7535,2,2,2

In [3]:
books = books.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1)

print(books.head(1))

         ISBN           Book-Title         Book-Author Year-Of-Publication  \
0  0195153448  Classical Mythology  Mark P. O. Morford                2002

                 Publisher
0  Oxford University Press

In [4]:
#Capitalize ISBN, Book-Title, Book-Author, Publisher
books['ISBN']=books['ISBN'].str.upper()
books['Book-Title']=books['Book-Title'].str.upper()
books['Book-Author']=books['Book-Author'].str.upper()
books['Publisher']=books['Publisher'].str.upper()

In [5]:
books[books['Book-Author'].isna()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
118033,0751352497,A+ QUIZ MASTERS:01 EARTH,NaN,1999,DORLING KINDERSLEY
187689,9627982032,THE CREDIT SUISSE GUIDE TO MANAGING YOUR PERSO...,NaN,1995,EDINBURGH FINANCIAL PUBLISHING

In [6]:
books.loc[118033, 'Book-Author'] = "NONE"
books.loc[187689, 'Book-Author'] = 'LARISSA ANNE DOWNES'

books[books['Book-Author'].isna()]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

In [7]:
books[books['Publisher'].isna()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
128890,193169656X,TYRANT MOON,ELAINE CORVIDAE,2002,NaN
129037,1931696993,FINDERS KEEPERS,LINNEA SINCLAIR,2001,NaN

In [8]:
books.loc[128890, 'Publisher'] = 'MUNDANIA PRESS LLC'
books.loc[129037, 'Publisher'] = 'BANTAM'

books[books['Publisher'].isna()]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

In [9]:
print(books['Year-Of-Publication'].isna().sum())
books['Year-Of-Publication'].unique()
#Fix Publisher, values > 2024,, and values==0

0

array(['2002', '2001', '1991', '1999', '2000', '1993', '1996', '1988',
       '2004', '1998', '1994', '2003', '1997', '1983', '1979', '1995',
       '1982', '1985', '1992', '1986', '1978', '1980', '1952', '1987',
       '1990', '1981', '1989', '1984', '0', '1968', '1961', '1958',
       '1974', '1976', '1971', '1977', '1975', '1965', '1941', '1970',
       '1962', '1973', '1972', '1960', '1966', '1920', '1956', '1959',
       '1953', '1951', '1942', '1963', '1964', '1969', '1954', '1950',
       '1967', '2005', '1957', '1940', '1937', '1955', '1946', '1936',
       '1930', '2011', '1925', '1948', '1943', '1947', '1945', '1923',
       '2020', '1939', '1926', '1938', '2030', '1911', '1904', '1949',
       '1932', '1928', '1929', '1927', '1931', '1914', '2050', '1934',
       '1910', '1933', '1902', '1924', '1921', '1900', '2038', '2026',
       '1944', '1917', '1901', '2010', '1908', '1906', '1935', '1806',
       '2021', '2012', '2006', 'DK Publishing Inc', 'Gallimard', '1909',
       '2008', '1378', '1919', '1922', '1897', '2024', '1376', '2037'],
      dtype=object)

In [10]:
books[books['Year-Of-Publication'] == 'DK Publishing Inc']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
209538,078946697X,"DK READERS: CREATING THE X-MEN, HOW IT ALL BEG...",2000,DK Publishing Inc,HTTP://IMAGES.AMAZON.COM/IMAGES/P/078946697X.0...
221678,0789466953,"DK READERS: CREATING THE X-MEN, HOW COMIC BOOK...",2000,DK Publishing Inc,HTTP://IMAGES.AMAZON.COM/IMAGES/P/0789466953.0...

In [11]:
#ISBN 078946697X
books.loc[books.ISBN == '078946697X','Year-Of-Publication'] = 2000
books.loc[books.ISBN == '078946697X','Book-Author'] = "MICHAEL TEITELBAUM"
books.loc[books.ISBN == '078946697X','Publisher'] = "DK PUBLISHING INC"
books.loc[books.ISBN == '078946697X','Book-Title'] = "DK READERS: CREATING THE X-MEN, HOW IT ALL BEGAN (LEVEL 4: PROFICIENT READERS)"

#ISBN 0789466953
books.loc[books.ISBN == '0789466953','Year-Of-Publication'] = 2000
books.loc[books.ISBN == '0789466953','Book-Author'] = "JAMES BUCKLEY"
books.loc[books.ISBN == '0789466953','Publisher'] = "DK PUBLISHING INC"
books.loc[books.ISBN == '0789466953','Book-Title'] = "DK READERS: CREATING THE X-MEN, HOW COMIC BOOKS COME TO LIFE (LEVEL 4: PROFICIENT READERS)"

In [12]:
books[books['Year-Of-Publication'] == 'Gallimard']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
220731,2070426769,"PEUPLE DU CIEL, SUIVI DE 'LES BERGERS\"";JEAN-M...",2003,Gallimard,HTTP://IMAGES.AMAZON.COM/IMAGES/P/2070426769.0...

In [13]:
#ISBN 2070426769
books.loc[books.ISBN=='2070426769','Year-Of-Publication']=2003
books.loc[books.ISBN=='2070426769','Book-Author']='JEAN-MARIE GUSTAVE LE CLEZIO'
books.loc[books.ISBN=='2070426769','Publisher']='GALLIMARD'
books.loc[books.ISBN=='2070426769','Book-Title']="PEUPLE DU CIEL, SUIVI DE 'LES BERGERS"

In [14]:
books.loc[books['ISBN'].isin(['2070426769','0789466953','078946697X'])]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
209538,078946697X,"DK READERS: CREATING THE X-MEN, HOW IT ALL BEG...",MICHAEL TEITELBAUM,2000,DK PUBLISHING INC
220731,2070426769,"PEUPLE DU CIEL, SUIVI DE 'LES BERGERS",JEAN-MARIE GUSTAVE LE CLEZIO,2003,GALLIMARD
221678,0789466953,"DK READERS: CREATING THE X-MEN, HOW COMIC BOOK...",JAMES BUCKLEY,2000,DK PUBLISHING INC

In [15]:
print(books['Year-Of-Publication'].unique())

#Fix values==0, values>2024

['2002' '2001' '1991' '1999' '2000' '1993' '1996' '1988' '2004' '1998'
 '1994' '2003' '1997' '1983' '1979' '1995' '1982' '1985' '1992' '1986'
 '1978' '1980' '1952' '1987' '1990' '1981' '1989' '1984' '0' '1968' '1961'
 '1958' '1974' '1976' '1971' '1977' '1975' '1965' '1941' '1970' '1962'
 '1973' '1972' '1960' '1966' '1920' '1956' '1959' '1953' '1951' '1942'
 '1963' '1964' '1969' '1954' '1950' '1967' '2005' '1957' '1940' '1937'
 '1955' '1946' '1936' '1930' '2011' '1925' '1948' '1943' '1947' '1945'
 '1923' '2020' '1939' '1926' '1938' '2030' '1911' '1904' '1949' '1932'
 '1928' '1929' '1927' '1931' '1914' '2050' '1934' '1910' '1933' '1902'
 '1924' '1921' '1900' '2038' '2026' '1944' '1917' '1901' '2010' '1908'
 '1906' '1935' '1806' '2021' '2012' '2006' 2000 2003 '1909' '2008' '1378'
 '1919' '1922' '1897' '2024' '1376' '2037']

In [16]:
#Make Years-Of-Publication numeric, count 0 years and >2024 years
books['Year-Of-Publication'] = pd.to_numeric(books['Year-Of-Publication'], errors='coerce')


print((books['Year-Of-Publication'] == 0).sum())
print((books['Year-Of-Publication'] > 2024).sum())

4618
12

In [17]:
import numpy as np

# Replace invalid years, years == 0, and years > 2024 with nan
books['Year-Of-Publication'] = books['Year-Of-Publication'].replace(0, np.nan)
books.loc[books['Year-Of-Publication'] > 2024, 'Year-Of-Publication'] = np.nan


def fillna_median(series):
    if series.isna().all():
        return series
    else:
        return series.fillna(series.median())

#Make series from publisher Years-Of-Publication -> fill na values with median
books['Year-Of-Publication'] = books.groupby('Publisher')['Year-Of-Publication'].transform(fillna_median)


print(books['Year-Of-Publication'].isna().sum())
print(books['Year-Of-Publication'].unique())

681
[2002.  2001.  1991.  1999.  2000.  1993.  1996.  1988.  2004.  1998.
 1994.  2003.  1997.  1983.  1979.  1995.  1982.  1985.  1992.  1986.
 1978.  1980.  1952.  1987.  1990.  1981.  1989.  1984.  1997.5 1968.
 1961.  1998.5 1958.  1974.  1976.  1971.  1977.  1975.  1965.  1941.
 1970.  1962.  1973.  1985.5 1972.     nan 1960.  1994.5 1966.  1920.
 1984.5 1956.  1959.  1983.5 1953.  1951.  1942.  1963.  1964.  1969.
 1954.  1950.  1967.  2005.  1995.5 1957.  1991.5 1940.  1937.  1993.5
 1955.  1992.5 1990.5 1946.  1936.  1930.  2011.  1925.  1948.  1943.
 1988.5 1947.  1945.  1923.  1979.5 2020.  1970.5 1939.  1926.  1938.
 1982.5 1987.5 2000.5 1911.  1904.  1949.  1932.  1928.  1929.  1986.5
 1927.  1931.  1914.  1934.  1910.  2001.5 1996.5 1933.  1902.  1924.
 1921.  1999.5 1900.  1944.  1917.  1901.  1989.5 2010.  1908.  1906.
 1935.  1806.  1973.5 2021.  2012.  2006.  1909.  2008.  1378.  1919.
 1922.  1897.  2024.  1376.  1976.5]

In [18]:
#Make series from Book-Author Years-Of-Publication -> fill na values with median
books['Year-Of-Publication'] = books.groupby('Book-Author')['Year-Of-Publication'].transform(fillna_median)

print(books['Year-Of-Publication'].isna().sum())
print(books['Year-Of-Publication'].unique())

252
[2002.  2001.  1991.  1999.  2000.  1993.  1996.  1988.  2004.  1998.
 1994.  2003.  1997.  1983.  1979.  1995.  1982.  1985.  1992.  1986.
 1978.  1980.  1952.  1987.  1990.  1981.  1989.  1984.  1997.5 1968.
 1961.  1998.5 1958.  1974.  1976.  1971.  1977.  1975.  1965.  1941.
 1970.  1962.  1973.  1985.5 1972.     nan 1960.  1994.5 1966.  1920.
 1984.5 1956.  1959.  1983.5 1953.  1951.  1942.  1963.  1964.  1969.
 1954.  1950.  1967.  2005.  1995.5 1957.  1999.5 1991.5 1940.  1937.
 1993.5 1955.  1992.5 1990.5 1946.  1936.  1930.  2011.  1925.  1948.
 1943.  1988.5 1947.  1945.  1923.  1979.5 2020.  1970.5 1939.  1926.
 1938.  1982.5 1987.5 2000.5 1911.  1904.  1996.5 1949.  1932.  1928.
 1929.  1986.5 1927.  1931.  1914.  1934.  1910.  2001.5 1933.  1902.
 1924.  1921.  1900.  1989.5 1944.  1917.  1901.  2010.  1908.  1906.
 1935.  1806.  2002.5 1973.5 2021.  2012.  2006.  1909.  2008.  1378.
 1919.  1922.  1897.  2024.  1376.  1976.5]

In [19]:
#Replace remaining Year-Of-Publication with global median
correct_years = books[(books['Year-Of-Publication'] > 0) & (books['Year-Of-Publication'] <= 2024)]

median = correct_years['Year-Of-Publication'].median()

books['Year-Of-Publication'] = books['Year-Of-Publication'].apply(
    lambda x: median if pd.isna(x) or x == 0 or x > 2024 else x
)

print(books['Year-Of-Publication'].isna().sum())

0

In [20]:
#Change data type to int
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int)

print(books['Year-Of-Publication'].unique())

[2002 2001 1991 1999 2000 1993 1996 1988 2004 1998 1994 2003 1997 1983
 1979 1995 1982 1985 1992 1986 1978 1980 1952 1987 1990 1981 1989 1984
 1968 1961 1958 1974 1976 1971 1977 1975 1965 1941 1970 1962 1973 1972
 1960 1966 1920 1956 1959 1953 1951 1942 1963 1964 1969 1954 1950 1967
 2005 1957 1940 1937 1955 1946 1936 1930 2011 1925 1948 1943 1947 1945
 1923 2020 1939 1926 1938 1911 1904 1949 1932 1928 1929 1927 1931 1914
 1934 1910 1933 1902 1924 1921 1900 1944 1917 1901 2010 1908 1906 1935
 1806 2021 2012 2006 1909 2008 1378 1919 1922 1897 2024 1376]

In [21]:
books.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,CLASSICAL MYTHOLOGY,MARK P. O. MORFORD,2002,OXFORD UNIVERSITY PRESS

In [22]:
books[books.duplicated()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
6635,002542730X,POLITICALLY CORRECT BEDTIME STORIES: MODERN TA...,JAMES FINN GARNER,1994,JOHN WILEY &AMP; SONS INC
11925,014062080X,THE SCARLET LETTER (PENGUIN POPULAR CLASSICS),NATHANIEL HAWTHORNE,1994,PENGUIN BOOKS LTD
16298,097089726X,JASPER,MICHELLE GROCE,2003,NOVELLO FESTIVAL PRESS
19266,039592720X,INTERPRETER OF MALADIES,JHUMPA LAHIRI,1999,HOUGHTON MIFFLIN CO
22339,042512164X,CAPITAL CRIMES,LAWRENCE SANDERS,2000,BERKLEY PUBLISHING GROUP
...,...,...,...,...,...
267020,088404632X,DIANETICS: THE MODERN SCIENCE OF MENTAL HEALTH,L. RON HUBBARD,1995,BRIDGE PUBLICATIONS (CA)
269297,055215038X,THE SLEEPER,GILLIAN WHITE,2003,CORGI BOOKS
269552,037376099X,PATIENT NURSE (MAN OF THE MONTH) (HARLEQUIN D...,DIANA PALMER,1997,SILHOUETTE
270285,189481505X,I-O,SIMON LOGAN,2002,PRIME (OH)
270483,039304632X,THE VOYAGE OF THE NARWHAL,ANDREA BARRETT,1998,W W NORTON &AMP; CO INC

In [23]:
#Remove duplicate rows, reset index
books.drop_duplicates(keep="first", inplace=True)
books.reset_index(drop=True,inplace=True)

In [24]:
books[books.duplicated()]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []